header img{
    max-height: 70px;
}

header {
    padding: 10px;
    background-color: #222;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

header h1 {
    margin-left: 20px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #333;
    color: #ddd;
}

nav {
    background-color: #222;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 250px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul a:hover {
    color: #fff;
    background-color: #444;
}

.lienPbContr:link{
	font-weight: bold;
	color: #ccc
}

.lienPbContr:visited{
	font-weight: bold;
	color: #444
}

article {
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    color: #ddd;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    gap: 20px; 
}

article > *:not(h2){
    padding-left: 20px
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: auto;
}

table th {
    background-color: #333;
    font-weight: bold;
    text-align: center;
    padding: 9px;
    border: 1px solid #ddd;
}

table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: right;
}

footer {
    margin-top: 10px;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

footer > * {
    white-space: pre-line;
    display: block;
}

